namespace: unityexpress
api:
  image: unityexpress-api:local
  replicaCount: 1
  port: 3000

web:
  image: unityexpress-web:local
  replicaCount: 1
  port: 80

mongo:
  image: mongo:7.0
  port: 27017
  storage: 1Gi

kafka:
  image: "confluentinc/cp-kafka:7.5.0"
  zookeeperImage: "confluentinc/cp-zookeeper:7.5.0"
  port: 9092
  zookeeperPort: 2181

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  
nginx:
  enabled: true
  service:
    type: NodePort
    nodePort: 30080
  image: nginx:stable

projectUuid: "unityexpress-1765203965"
