apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: unityexpress-api-keda
  namespace: unityexpress
spec:
  scaleTargetRef:
    name: unityexpress-api
    kind: Deployment

  pollingInterval: 5
  cooldownPeriod: 30

  minReplicaCount: 1
  maxReplicaCount: 10

  triggers:
    - type: kafka
      metadata:
        # Use secret-managed broker
        bootstrapServersFromEnv: bootstrapServers
        topic: purchases
        consumerGroup: unityexpress-consumer
        lagThreshold: "5"

      authenticationRef:
        name: unityexpress-kafka-auth
