apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: unityexpress-api-keda
  namespace: unityexpress
  labels:
    app: unityexpress-api
    project-uuid: "e271b052-9200-4502-b491-62f1649c07"
spec:
  scaleTargetRef:
    name: unityexpress-api
  pollingInterval: 10
  cooldownPeriod: 30
  minReplicaCount: 1
  maxReplicaCount: 10

  triggers:
    - type: kafka
      metadata:
        bootstrapServers: unityexpress-kafka:9092
        consumerGroup: unityexpress-group
        topic: purchases
        lagThreshold: "20"
