apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: unityexpress-api-kafka
  namespace: unityexpress
spec:
  scaleTargetRef:
    kind: Deployment
    name: unityexpress-api

  minReplicaCount: 1
  maxReplicaCount: 10

  pollingInterval: 5        # seconds between checks
  cooldownPeriod: 30        # seconds to wait before scaling down

  triggers:
    - type: kafka
      metadata:
        bootstrapServers: unityexpress-kafka.unityexpress.svc.cluster.local:9092
        consumerGroup: unityexpress-group
        topic: purchases
        lagThreshold: "10"  # if lag > 10, start scaling up
