apiVersion: v1
kind: ConfigMap
metadata:
  name: unityexpress-nginx-config
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "unityexpress.gateway.labels" . | nindent 4 }}
data:
  nginx.conf: |
    worker_processes {{ .Values.nginx.config.workerProcesses }};
    events {}
    http {
      upstream api_upstream {
        server {{ .Values.nginx.config.apiUpstream }};
      }
      upstream web_upstream {
        server {{ .Values.nginx.config.webUpstream }};
      }
      server {
        listen {{ .Values.nginx.service.port }};
        location / {
          proxy_pass http://web_upstream;
        }
        location /api/ {
          proxy_pass http://api_upstream;
        }
      }
    }