apiVersion: v1
kind: ConfigMap
metadata:
  name: unityexpress-nginx-config
data:
  nginx.conf: |
    events { }

    http {
      server {
        listen 80;

        # UI
        location / {
          proxy_pass http://unityexpress-web.unityexpress.svc.cluster.local;
        }

        # API
        location /api/ {
          proxy_pass http://unityexpress-api.unityexpress.svc.cluster.local:3000;
        }
      }
    }
