apiVersion: v1
kind: ConfigMap
metadata:
  name: unityexpress-nginx-config
  namespace: unityexpress
data:
  nginx.conf: |
    worker_processes 1;

    events {}

    http {
      upstream api_upstream {
        server unityexpress-api.unityexpress.svc.cluster.local:3000;
      }

      upstream web_upstream {
        server unityexpress-web.unityexpress.svc.cluster.local:80;
      }

      server {
        listen 80;

        # UI
        location / {
          proxy_pass http://web_upstream;
        }

        # API
        location /api/ {
          proxy_pass http://api_upstream;
        }
      }
    }
